#mainNav {
    background-color: rgb(255, 255, 255); /* You can use any color value here */
    color: white; /* Optional: Ensure text contrasts well */
}
#mainNav.navbar-shrink {
    background-color: black;
}