/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.video-container2 {
    position: relative;
    width: 100%;
    height: 30%;
}
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.navbar {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ff6347;
}

.content {
    z-index: 3;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
h2 {
    font-size: 2rem;
    /*text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);*/
}
.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff6347;
}
.scroll-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    z-index: 5;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.scroll-arrow:hover {
    background-color: #ff6347; /* Highlight color */
    transform: scale(1.1); /* Slight zoom effect */
}

.scroll-arrow i {
    margin: 0;
}